In [28]:
import pandas as pd
from pandas.io.json import json_normalize
import json
import time

In [38]:
fileNM = "xs_schedule_head.csv"
schedule_head = pd.read_csv(fileNM)

In [30]:
schedule_head.dtypes

description     object
created_at      object
company_name    object
nation_name     object
region_name     object
dtype: object

In [31]:
schedule_head.head()

,description,created_at,company_name,nation_name,region_name
0,"{""id"":""337"",""for_tag"":""1"",""type"":""3"",""content_...",2019-04-01 01:37:28,BET,Taiwan,BQT
1,"{""id"":""337"",""for_tag"":""1"",""type"":""3"",""content_...",2019-04-01 01:38:23,BET,Taiwan,BQT
2,"{""id"":""2373"",""for_tag"":""1"",""type"":""1"",""content...",2019-04-01 01:43:44,BET,Taiwan,BQT
3,"{""id"":""337"",""for_tag"":""1"",""type"":""2"",""content_...",2019-04-01 01:47:39,BET,Taiwan,BQT
4,"{""id"":""337"",""for_tag"":""1"",""type"":""2"",""content_...",2019-04-01 01:49:00,BET,Taiwan,BQT

In [32]:
setData = json.loads(str(schedule_head['description'][0]))
schedule_head_df = json_normalize(setData)

In [33]:
schedule_head_df

,all_day,close_date,close_time_h,close_time_i,close_time_s,content_type,cycle,cycle_day,cycle_week,duration,...,open_time_h,open_time_i,open_time_s,schedule_head_id,start,type,video_id,video_source,video_title,week
0,None,None,9,40,0,3,None,None,None,3572,...,9,30,0,25737,0,3,U--7hxRNPvk,1,SONY 4K OLED (59 Min Demo),None

In [34]:
# schedule_head_df = pd.concat([schedule_head_df, data], axis = 1, ignore_index=True, sort=False)

for i in range(1, len(schedule_head)):
    data = json_normalize(json.loads(str(schedule_head['description'][i])))
    schedule_head_df = pd.concat([schedule_head_df, data], axis = 0, ignore_index=True, sort=True)

In [35]:
schedule_head_df.dtypes

all_day                object
close_date             object
close_time_h           object
close_time_i           object
close_time_s           object
content_type           object
cycle                  object
cycle_day              object
cycle_week             object
drive_id               object
drive_name             object
drive_type             object
duration              float64
for_tag                object
id                     object
is_live                object
link                   object
lite_archives_id       object
lite_archives_name     object
name                   object
one_play               object
open_date              object
open_loop              object
open_time_h            object
open_time_i            object
open_time_s            object
platform               object
play_mode             float64
play_speed             object
play_time              object
play_time_h            object
play_time_i            object
play_time_s            object
play_time_unit         object
schedule_head_id       object
select_style_id        object
size                   object
source                 object
start                 float64
style                  object
style_name             object
text_content           object
thumbnail              object
type                   object
video_id               object
video_source           object
video_title            object
week                   object
dtype: object

In [36]:
schedule_head_df.head()

,all_day,close_date,close_time_h,close_time_i,close_time_s,content_type,cycle,cycle_day,cycle_week,drive_id,...,start,style,style_name,text_content,thumbnail,type,video_id,video_source,video_title,week
0,None,None,9,40,0,3,None,None,None,NaN,...,0.0,NaN,NaN,NaN,NaN,3,U--7hxRNPvk,1,SONY 4K OLED (59 Min Demo),None
1,None,None,10,0,0,3,None,None,None,NaN,...,0.0,NaN,NaN,NaN,NaN,3,U--7hxRNPvk,1,SONY 4K OLED (59 Min Demo),None
2,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,"{""font_size"":2,""font_color"":""#ff0000"",""backgro...",ifp.style_2,This is a tag.,NaN,1,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN

In [48]:
df2 = schedule_head['created_at']
df3 = schedule_head['company_name']
df4 = schedule_head['nation_name']
df5 = schedule_head['region_name']
result = pd.concat([schedule_head_df['for_tag'], df2, df3, df4, df5], axis = 1)
result_new = result.drop_duplicates()

In [49]:
result_new

,for_tag,created_at,company_name,nation_name,region_name
0,1,2019-04-01 01:37:28,BET,Taiwan,BQT
1,1,2019-04-01 01:38:23,BET,Taiwan,BQT
2,1,2019-04-01 01:43:44,BET,Taiwan,BQT
3,1,2019-04-01 01:47:39,BET,Taiwan,BQT
4,1,2019-04-01 01:49:00,BET,Taiwan,BQT
5,1,2019-04-01 01:50:03,BET,Taiwan,BQT
6,0,2019-04-01 01:52:30,BET,Taiwan,BQT
7,1,2019-04-01 02:08:24,BET,Taiwan,BQT
8,1,2019-04-01 02:09:18,BET,Taiwan,BQT
9,1,2019-04-01 02:10:43,BET,Taiwan,BQT
10,1,2019-04-01 02:11:29,BET,Taiwan,BQT
11,0,2019-08-12 02:38:06,BET,Taiwan,BQT
12,0,2019-08-12 02:45:36,BET,Taiwan,BQT
13,0,2019-08-12 02:48:06,BET,Taiwan,BQT
14,1,2019-08-12 02:51:05,BET,Taiwan,BQT
15,0,2019-08-12 02:55:30,BET,Taiwan,BQT
16,0,2019-08-12 02:56:24,BET,Taiwan,BQT
17,0,2019-08-12 03:00:45,BET,Taiwan,BQT
18,1,2019-08-12 03:07:04,BET,Taiwan,BQT
19,1,2019-08-12 03:16:43,BET,Taiwan,BQT
20,0,2019-07-13 08:55:42,HCS Interactief,Netherlands,BQE
21,1,2019-07-13 08:58:19,HCS Interactief,Netherlands,BQE
22,0,2019-10-04 14:52:24,HCS Interactief,Netherlands,BQE
23,0,2019-11-25 13:17:11,HCS Interactief,Netherlands,BQE
24,1,2019-03-08 06:08:46,Aurukun Shire,Australia,BQP
30,1,2019-03-08 06:09:34,Aurukun Shire,Australia,BQP
36,1,2018-11-29 09:07:33,Unique Business,Bangladesh,BQP
37,1,2018-11-29 09:11:46,Unique Business,Bangladesh,BQP
38,1,2019-04-22 14:49:13,Master AV,United States,BQA
39,1,2019-04-22 14:50:21,Master AV,United States,BQA
...,...,...,...,...,...
2404,0,2020-02-13 04:08:39,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2405,0,2020-02-13 04:09:14,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2406,1,2020-02-13 04:12:29,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2407,1,2020-02-13 04:44:09,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2408,0,2020-02-13 04:49:17,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2409,0,2020-02-13 04:50:36,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2410,1,2020-02-13 04:55:12,è‡ºåŒ—å¸‚ç«‹ä¸‰æ°‘åœ‹ä¸­,Taiwan,BQT
2411,1,2020-02-13 16:57:59,MPS,United States,BQA
2412,0,2020-02-13 17:21:45,MPS,United States,BQA
2413,1,2020-02-13 20:01:48,MPS,United States,BQA
2414,1,2020-02-13 18:47:52,Montclair State,United States,BQA
2415,0,2020-02-13 18:48:54,Montclair State,United States,BQA
2416,0,2020-02-14 16:08:26,Ashlyns School,United Kingdom,BQE
2417,0,2020-02-14 16:11:34,Ashlyns School,United Kingdom,BQE
2418,0,2020-02-14 16:14:10,Ashlyns School,United Kingdom,BQE
2419,1,2020-02-16 11:13:13,QIS,Qatar,BQP
2420,1,2020-02-16 11:16:10,QIS,Qatar,BQP
2421,1,2020-02-16 11:18:22,QIS,Qatar,BQP
2422,1,2020-02-16 11:19:00,QIS,Qatar,BQP
2423,1,2020-02-16 11:19:16,QIS,Qatar,BQP
2424,1,2020-02-16 11:20:58,QIS,Qatar,BQP
2425,1,2020-02-16 11:22:56,QIS,Qatar,BQP
2426,1,2020-02-16 11:37:48,QIS,Qatar,BQP
2427,1,2020-02-16 11:39:27,QIS,Qatar,BQP
2428,1,2020-02-16 11:40:39,QIS,Qatar,BQP
2429,1,2020-02-16 11:45:11,QIS,Qatar,BQP
2430,0,2020-02-17 11:11:22,GEMS Cambridge,United Arab Emirates,BQP
2431,0,2020-02-17 11:12:25,GEMS Cambridge,United Arab Emirates,BQP
2432,1,2020-02-17 11:48:50,GEMS Cambridge,United Arab Emirates,BQP
2433,1,2020-02-17 11:50:17,GEMS Cambridge,United Arab Emirates,BQP

In [52]:
result.to_excel('xs_schedule_new_202002.xlsx')